/vendor/
composer.lock
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
*.cache
*.log
build

# .gitattributes
* text=auto

/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/tests export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon export-ignore
/CHANGELOG.md export-ignore
/README.md export-ignore

.DS_Store
