includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    excludePaths:
        - tests/ArcTest.php
    paths:
        - src
        - tests
